<h1>Outros veídulos - Ano xx</h1>
<div>
  <ul *ngIf="data.length; else semDados">
    <li *ngFor="let item of data; index as i;"> {{ item.Value }} - {{ item.Variable }} </li>
  </ul>
  <ng-template #semDados>
      <h3>Sem dados para serem exibidos</h3>
  </ng-template>
</div>