<div>
  <table>
    <thead>
      <tr><th>Marca</th>
      <th>Modelo</th>
      <th>Ano</th>
    </tr></thead>
    <tbody>
      <tr *ngIf="!cars.length; else hasData"><td colspan="3">Carregando...</td></tr>
      <ng-template #hasData>
        <tr *ngFor="let car of cars; index as i;">
          <td colspan="" >{{ car.marca }}</td>
          <td colspan="" >{{ car.modelo }}</td>
          <td colspan="" >{{ car.ano }}</td>
        </tr></ng-template>
    </tbody>
  </table>
</div>
