div {
  width: 80%;
  position: relative;
}
table {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #aaa;
}

td {
  border: 1px solid #aaa;
  text-align: center;
}

#toggleTable{
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 24px;
  font-weight: bold;
  background-color: #069;
  color: #fff;
  padding: 0 7px 4px;
  line-height: 15px;
  display: inline-block;
}