<div id="cadastro">
    <h2>Cadastrar carro</h2>
    <form action="#">
      <label for="">
        <b>Marca:</b> <br>
        <input type="text" name="marca" id="marca" [(ngModel)]="marca" required /> <br>
      </label>
      <label for="">
        <b>Modelo:</b> <br>
        <input type="text" name="modelo" id="modelo" [(ngModel)]="modelo" required /> <br>
      </label>
      <label for="">
        <b>Ano:</b> <br>
        <input type="text" name="ano" id="ano" [(ngModel)]="ano" required > <br>
      </label>
      <br>
      <h5  *ngIf="erro;">Preencha o formulário corretamente</h5>
      <input type="submit" value="Cadastrar" (click)="registerCar()" [disabled] = "!marca && !modelo && !ano">
    </form>
    <br>
    <br>
    <div class="descricao" >
      <h2>Descrição do veículo</h2>
      <h3>{{ marca | uppercase }}</h3>
      <h3>{{ modelo | uppercase }}</h3>
      <h3>{{ ano | uppercase }}</h3>
    </div>
  </div>