<nav>
  <ul>
    <li>
      <a routerLink="/">Listar todos</a>
    </li>
    <li>
      <a routerLink="/cadastrar">Cadastrar</a>
    </li>
    <li>
      <a routerLink="/outros">Listar outros veículos</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
